html {
	font-size: 18px;
}

body {
	color: hsl(36, 7%, 14%);
}

main {
	margin-bottom: 3rem;
}

section {
  padding-top: 3rem;
}

article {
  padding-right: 3rem;
}

footer {
  padding: 2rem 0;
	background-color: hsl(36, 7%, 14%);
	color: #FFF;
}

footer p {
  margin: 0;
}

footer a {
  color: #FFF;
}

ul, ol {
	list-style: none;
	padding-left: 0;
}

a {
  color: hsl(36, 7%, 14%);
}

p, img {
  margin-bottom: 2em;
}

img {
  max-width: 100%;
  border: 1px solid hsl(36, 7%, 14%);
}

hr {
  margin-bottom: 2rem;
  border: 0;
  height: 2px;
  background-color: hsl(36, 7%, 14%);
}

body > header {
  height: 60px;
  background-color: hsl(211, 100%, 14%);
}

header svg {
  margin: 10px 0;
  height: 40px;
  width: auto;
}

header svg path {
  fill: #FFF;
}

main > header {
  padding-top: 3rem;
  background-color: hsl(211, 100%, 14%);
  color: #FFF;
}

main > header a {
  color: #FFF;
}

.eyebrow {
  margin-bottom: 1rem;
  font-size: smaller;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tagline {
  line-height: 0.95;
  font-size: 1.5rem;
}
