html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.container {
	width: 100%;
	padding-right: 5vw;
	padding-left: 5vw;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.col-1,
.col-2,
.sidebar,
.content {
	position: relative;
	width: 100%;
}

@media (min-width: 768px) {
	.col-1,
	.sidebar {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-2,
	.content {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.content .col-1 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.sidebar {
		padding-right: 1.5vw;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.sidebar {
		padding-right: 2.5vw;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.sidebar {
		padding-right: 5vw;
	}
}
