---
# Main Sass file requires front matter
---
@charset "utf-8";

// Import partials
@import
  "vendors/normalize",

  "base/fonts",
  "base/colours",
  "base/spacing",
  "base/general",
  "base/grid",
  "base/typography",

  "components/button",
  "components/logo",
  "components/preview",
  "components/range-slider",
  "components/sr-only",

  "layout/page-header",
  "layout/site-header",

  "themes/dark-mode"
;
