html {
	font-size: 18px;
}

body {
	background-color: #FFF8EE;
	color: #282624;
}

header {
	background-color: #282624;
	color: #FFF8EE;
}

main {
	margin-top: 3.25rem;
	margin-bottom: 3.25rem;
}

footer {
	background-color: #006D6D;
	color: #FFF8EE;
}

ul, ol {
	list-style: none;
	padding-left: 0;
}

li:before {
	content: '- ';
}

.sidebar {
	color: #5D5753;
	font-size: 0.833em;
}



/* for testing purposes only! */
/* aside, section {
outline: 1px solid red;
} */
