<head>
	<meta charset="utf-8">
	<title>{{ site.title }}</title>
	<meta name="description" content="Find a theme that suits your journal's disciplinary and scholarly priorities. Customise the colours, add your own logo, or build your own theme.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="manifest" href="site.webmanifest">
	<link rel="apple-touch-icon" href="icon.png">

	<link rel="stylesheet" href="css/main.css">

	<meta name="theme-color" content="#282624">
</head>
