/* Buttons */
button,
input[type="button"],
.button {
  cursor: pointer;
  padding: 0.75rem 1rem;
  background-color: transparent;
  border: 1px solid #282624;
  text-decoration: none;
  color: #282624;
  font-size: 0.85rem;
  line-height: 1;
}

.button--is-cta {
  border: 1px solid hsl(40, 91%, 53%) !important;
  background-color: hsl(40, 91%, 53%);
  color: hsl(36, 7%, 14%) !important;
}
