body {
	color: hsl(36, 7%, 14%);
}

main {
	margin-bottom: 3rem;
}

section {
  padding-top: 3rem;
}

article {
  padding-right: 3rem;
}

footer {
  padding: 2rem 0;
	background-color: hsl(36, 7%, 14%);
	color: #FFF;
}

footer p {
  margin: 0;
}

footer a {
  color: #FFF;
}

ul, ol {
	font-size: smaller;
  margin-bottom: 2rem;
}

li {
  line-height: 1.35;
}

a {
  color: hsl(36, 7%, 14%);
}

p, img {
  margin-bottom: 2em;
}

img {
  max-width: 100%;
}

hr {
  margin-bottom: 2rem;
  border: 0;
  height: 2px;
  background-color: hsl(36, 7%, 14%);
}

body > header {
  height: 60px;
  background-color: hsl(211, 100%, 14%);
}

header svg,
footer svg {
  margin: 10px 0;
  height: 40px;
  width: auto;
}

header svg path,
footer svg path {
  fill: #FFF;
}

main > header {
  padding-top: 3rem;
  background-color: hsl(211, 100%, 14%);
  color: #FFF;
}

main > header a {
  color: #FFF;
}

main > header button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  background-color: hsl(40, 91%, 53%);
  border-color: hsl(40, 91%, 53%);
  color: hsl(36, 7%, 14%);
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tagline {
  line-height: 0.95;
  font-size: 1.5rem;
}

.preview {
  margin: 0 0 2rem 0;
  display: block;
  overflow: hidden;
  height: 175px;
  width: auto;
  background: hsl(36, 7%, 14%);
  border: 1px solid hsl(36, 7%, 14%);
  text-decoration: none;
}

.preview:hover {
  border-color: hsl(36, 7%, 14%);
}

.preview:hover .preview__img{
  margin-top: -400px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  transition: all 400ms;
}

.preview:hover:after {
  display: block;
  margin-top: 3rem;
  content: attr(data-preview);
  text-align: center;
  font-weight: 600;
  color: hsl(40, 91%, 53%);
}



/* Dark mode */

.dark-mode .logo {
  background-color: hsl(211, 100%, 14%);
}

.dark-mode svg path,
.dark-mode svg path,
.dark-mode svg path {
  fill: #FFF;
  stroke: #FFF;
}
