.sidebar {
	font-size: 16px;

	h2 {
		font-size: 1em;
		text-transform: uppercase;
	}

	ul, ol {
		list-style: none;
		padding-left: 0;

		li a {
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
		}

		ul li a {
			&:before {
				content: '— ';
			}
		}
	}
}

.sidebar__icon {
	display: none;
}

.sidebar__menu {
  > li > a {
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
	.sidebar__menu {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.75s;
	}

	.sidebar__icon {
		display: block;
	}

	.sidebar__menu_is-active {
		max-height: 100%;
	}
}
