/* Buttons */

button,
input[type="button"],
.button {
  display: inline-block;
  padding: $spacing-03 $spacing-04;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $almost-black;
  text-decoration: none;
  color: $almost-black;
  font-size: $spacing-03;
  line-height: 1;

  &:hover,
  &:focus,
  &:active {
    background-color: $almost-black;
    color: $white;
  }
}

.button--primary {
  background-color: $prussian-blue;
  border-color: $prussian-blue;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: $buttercup-yellow;
    color: $almost-black;
  }
}
