/* Main PKP logo */

.logo {
  display: inline-block;
  margin: 0 0 1rem 1rem;
  padding: 3rem;

  svg {
    display: block;
    max-width: 100%;
    height: 100px;
    width: auto;
  }

  path {
    fill: #282624;
    stroke: #282624;
  }
}
