<!doctype html>
<html class="no-js" lang="en">

{% include head.html %}

<body>
	<!--[if IE]>
	<p class="browserupgrade">You are using an outdated browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<header class="site-header">
		<div class="container">
			<h1>
        <a href="https://pkp.sfu.ca" target="_blank" rel="noopener" class="logo">
          {% include logotype.svg %}
          <span class="sr-only">{{ site.title }}</span>
        </a>
      </h1>
		</div>
	</header>

	<main>
    <header class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>{{ site.tagline }}</h2>
            <p>PKP offers customizable themes for <a href="http://pkp.sfu.ca/ojs" target="_blank" rel="noopener">OJS 3</a>. Browse our demo gallery for inspiration - then create a one-of-a-kind site with your choice of colour, images, and font.</p>
            <p><a href="#"></a></p>
            <p>
              <a class="button button--primary" href="https://docs.pkp.sfu.ca/learning-ojs/en/settings-website#theme" target="_blank">Learn More <span class="sr-only">about how to use a theme in for your journal</span></a>
            </p>
          </div>
        </div>
      </div>
    </header>

		<section class="container">
      <h2 class="sr-only">Official themes</h2>
			<div class="row">
        {% for theme in site.data.themes.official %}
        <article class="col-md-4">
          <h3>{{ theme.name }}</h3>
            <a href="{{ theme.url }}" target="_blank" title="Go to the {{ theme.name }} theme demo site" class="preview" data-preview="View Demo">
              <img src="img/{{ theme.img }}" class="preview__img" alt="Screenshot of the {{ theme.name }} theme homepage"/>
            </a>
          <ul>
            <li><a href="{{ theme.url }}/issue/current" target="_blank" title="Go to an issue example">Issue</a></li>
            <li><a href="{{ theme.article_url }}" target="_blank" title="Go to an article example">Article</a></li>
            <li><a href="{{ theme.pdf_url }}" target="_blank" title="Go to a PDF galley">PDF viewer</a></li>
          </ul>
					<p>{{ theme.description }}</p>
				</article>
        {% endfor %}
			</div>

      <hr/>
		</section>


	</main>

</body>

{% include footer.html %}

</html>
