/* Colour palette */

$prussian-blue:         hsl(211, 100%, 14%);
$athens-blue:           hsl(210, 18, 96%);
$white:                 hsl(0, 0%, 100%);

$almost-black:          hsl(36, 7%, 14%);
$coal:                  rgb(97, 97, 97);

$buttercup-yellow:      hsl(40, 91%, 53%);
$brick-red:             hsl(355, 58%, 38%);
