html {
	font-size: 18px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  @include sans;
}

/* Typescale in minor third */
h1, h2, h3, h4, h5, h6 {
	margin: $spacing-05 0 $spacing-04;
	letter-spacing: -0.03em;
	font-weight: normal;
	line-height: 1.15;
}

h1:first-of-type,
h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type {
	margin-top: 0;
}

h1 {
  margin: 0;
	font-size: 2.488em;
}

h2 {
  margin-bottom: $spacing-05;
	font-size: 2.074em;
}

h3 {
	font-size: 1.728em;
}

h4 {
	font-size: 1.44em;
}

h5 {
	font-size: 1.2em;
}

h6, small {
	font-size: 0.833em;
}

p {
	margin-top: 0;
	margin-bottom: 1.25em;
  line-height: 1.45;
}

strong, b {
  font-weight: 800;
}
